
<title>Kapuwa</title>
<link rel="stylesheet" href="/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="javascript/lib/jquery-ui-1.11.4/jquery-ui.min.css">
<script type="text/javascript" src="/dist/jquery.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
<script src="/lodash.js"></script>
<script src="/mousetrap.min.js"></script>
<script src="/uuid.js"></script>
<script type="text/javascript" src="javascript/lib/jquery-ui-1.11.4/jquery-ui.min.js"></script>

<script src="javascript/jsencrypt.js"></script>
<script src="javascript/feUtils.js"></script>
<script src="javascript/dataManager.js"></script>
<script src="javascript/messageBot.js"></script>
<script src="javascript/common.js"></script>
<script src="javascript/dbManager.js"></script>



